.completed_container{
    padding-left: 100px;
}
.completed_div{
    display: flex;
}
.completed_ul{
    flex-direction: column;
    margin-top: 50px;
}
.emptybtn{
    background-color: saddlebrown;
    padding: 7px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    align-self: center;
    position: absolute;
    bottom: 100px;
}
.completed_li{
    list-style-type: decimal;
}